/*!
 * Secoes
 * 
 */




.default-section {
    height: 100%;
    margin-top:50px;
    margin-bottom:50px;
    text-align: middle;
    background: #fff;
    
}
.last-section {
	height: 100%;
	margin-top:100px;
    text-align: middle;
    background: #fff;
}
.footer-section {
	margin:10px;
	height: 20px;
    text-align: middle;
    background: #fff;
}
.intro-section {
    height: 100%;
    text-align: center;
    background: #fff;
}

.about-section {
    height: 100%;
    text-align: center;
    background: #eee;
}

.services-section {
    height: 100%;
    text-align: center;
    background: #fff;
}

.contact-section {
    height: 100%;
    text-align: center;
    background: #eee;
}

.visao-section {
    height: 100%;
    text-align: center;
    background: #eee;
}